.ContactheroBg{
  background-image: url("../../public/ContactHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
}
.subcBg{

    background-image: url("../../public/subcBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}