@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

/* main hero start*/
.heroBg {
  background-image: url("../../public/HomePageHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
 
}

.MainHeroText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
 

  color: #ffffff;
}

/* main hero ends*/
