@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body *{
  padding: 0;
  margin: 0;
  font-family: "Poppins";
    @apply transition-colors duration-200;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

/* main hero start*/
.heroBg {
  background-image: url("../../public/HomePageHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
}

.MainHeroText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;

  color: #ffffff;
}

/* main hero ends*/

/* About Ue s*/
.AboutUs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
}
.AboutP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.02em;

  /* 4D4D4D */
}
/* About Us e*/

/*  ReservationBg s*/
.ReservationBg {
  background-image: url(../../public/Reservation.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* ReservationBg e */
/* slide s */

.swiper {
  padding: 2rem;
  height: 100%;
  
}

.swiper-pagination-bullet{
  background-color: white!important;
  opacity: 0.7!important;
  width: 20px!important;
  height: 20px!important;
}

.swiper-pagination-bullet-active {
  background-color: #1c6910 !important;
  opacity: 1!important;
  width: 20px!important;
  height: 20px!important;

}

.swiper-nav-btns {
  width: 200px;
}

@media screen and (min-width:1725px) and (max-width:2000px)  {
  .swiper-nav-btns {
    width: 210px!important;
  }
  
}

@media screen and (min-width:2000px) {
  .swiper-nav-btns {
    width: 250px!important;
  }
  
}
/* slide  e*/

/* form */
/* @media screen and (max-width:2000px) {
  .form{
  
    max-width: 1000px!important;
  }
  
} */
/* form  */




