.MmenuBg{
    background-image: url("../../public/continentalBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;
}

.MGmenuBg{
    background-image: url("../../public/GastroBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;
}

.Gsteak{
    
        background-image: url("../../public/Lunch.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;

}
.sides{
    
    background-image: url("../../public/sides.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}
.Breakfast{
    
    background-image: url("../../public/Breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;

}
.means{
    
    background-image: url("../../public/meet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;

}
.dessert{
    
    background-image: url("../../public/Desert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;

}
.starter{
    
    background-image: url("../../public/MSalad.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;
}

.coffe{
    
    background-image: url("../../public/coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;
}

.MGrill{
    
    background-image: url("../../public/Fish.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;
}

.saya{
    
    background-image: url("../../public/Suya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;
}


/* // gestro */
.gBreak{
    background-image: url("../../public/gBreak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;   
}
.gdessert{
    background-image: url("../../public/GD.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;   
}
.gsteak{
    background-image: url("../../public/Gsteak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;   
}

.gstarters{
    background-image: url("../../public/GStarters.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;   
}
.gmeans{
    background-image: url("../../public/GMean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;   
}
.gside{
    background-image: url("../../public/Gside.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    width: 100%;   
}